
.app__header {
  background: var(--color-black);
}

.app__wrapper_info {}

.app__wrapper_info h1 {
  font-family: var(--font-base);
  color: var(--color-golden);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  line-height: 117px;
  font-size: 90px;
}

.app__wrapper_img {}

.app__wrapper_img img {
  width: 80%;
}

@media screen and (max-width: 650px) {
  .app__wrapper_info h1 {
    font-size: 50px;
    line-height: 80px;
  }
  
}